<!DOCTYPE html>
<html lang="en">
<head th:fragment="footer">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <footer>
        <div id="footer-container">
            <p>&copy; 2025 My Application. Unauthorized reproduction prohibited.</p>
        </div>
    </footer>
</body>
</html>
