<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body th:fragment="slideshow">

<header id="header-slideshow">
    <div id="header-slideshow-left" class="header-slideshow-container">
        <img src="/images/m_1540402463_4738_1.jpg">
        <img src="/images/ecnjbt2nbk2casmczthu.jpg">
        <img src="/images/WorldChampions.jpg">
        <img src="/images/group_photo.jpg">
    </div>

    <div id="header-slideshow-right" class="header-slideshow-container">
        <div class="slider">
            <img src="/images/ohtani_family.jpg">
            <img src="/images/speach.jpg">
            <img src="/images/bus.jpg">
            <img src="/images/dodger-stadium-tours.jpg">
        </div>
    </div>
</header>

</body>
</html>
