<!DOCTYPE html>
<html lang="en">
<head th:fragment="head (title)">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>Navbar and Slideshow</title>
</head>
<body>
    <!-- ナビゲーションバー -->
    <div class="navbar" th:fragment="header">
        <div class="logo">
            <a href="/">Dodgers</a>
        </div>
        <nav class="nav-links">
            <a href="/home">Home</a>
            <a href="/about">About</a>
            <a href="/contact">Contact</a>
            <a href="/auth/logout">Logout</a>
        </nav>
    </div>

    <!-- スライドショー -->
    <header>
        <div class="slideshow">
            <img src="/images/m_1540402463_4738_1.jpg" alt="背景画像1">
            <img src="/images/ecnjbt2nbk2casmczthu.jpg" alt="背景画像2">
            <img src="/images/WorldChampions.jpg" alt="背景画像3">
        </div>
    </header>
</body>
</html>