<!DOCTYPE html>
<html lang="en">
<head th:fragment="head (title)">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title th:text="${title}">Default Title</title>
</head>
<body>
<header class="apple-header">
    <div class="header-container">
        <div class="logo">
            <a href="/">2025_Dodgers</a>
        </div>
        <nav class="nav-links">
            <a href="/home">Home</a>
            <a href="/about">About</a>
            <a href="/contact">Contact</a>
        </nav>
    </div>
</header>
</body>
</html>
