<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- fragments/headerを利用してhead部分を統一 -->
    <th:block th:replace="fragments/header :: head ('Signup Page')"></th:block>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <!-- fragments/headerを利用してヘッダーを挿入 -->
    <th:block th:replace="fragments/header :: header"></th:block>
    <div id="kiji">MLB,Dodgers,大谷選手、山本選手を密かに応援している人の</div>
    <div id="kiji">コミュニケーション場として共有できればいいなと作りました</div>

    <main>
        <section>
            <h1>Create Account</h1>
            <p th:if="${message}" th:text="${message}" style="color: red;"></p>
            <form action="/auth/signup" method="post">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
                
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
                
                <button type="submit">Sign Up</button>
            </form>
            <a href="/auth/login">Already have an account? Login here</a>
        </section>
    </main>
    <th:block th:replace="fragments/footer :: footer"></th:block>
</body>
</html>
