<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- fragments/headerを利用してhead部分を統一 -->
    <th:block th:replace="fragments/header :: head ('Signup Page')"></th:block>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>新規登録｜ドジャースファン交流サイト</title>

    <link rel="stylesheet" th:href="@{/css/signup_login_util.css}">
    <link rel="stylesheet" th:href="@{/css/header-2.css}">
</head>
<body>
    <!-- fragments/headerを利用してヘッダーを挿入 -->
    <th:block th:replace="fragments/header :: header"></th:block>
    <div id="kiji">MLB,Dodgers、翔平、由伸、朗希を密かに応援している人の</div>
    <div id="kiji">コミュニケーション場として情報共有できればいいなと</div>
    <div id="kiji">完全個人開発（趣味）で2024/11から隙間時間に作りました。</div>
    <div id="kiji">ニックネームと簡単なパスワード登録で参加できます。</div>
    <div id="kiji" style="color: red;">↓↓↓ サイト名は ↓↓↓</div>

    <img src="https://dodgersshoheiapp-assets.s3.us-east-1.amazonaws.com/img/BackGround/%E3%82%AA%E3%83%AA%E3%82%B8%E3%83%8A%E3%83%AB%E3%83%AD%E3%82%B4.png" alt="背景画像1" class="home-image10">

    <main>
        <section>
            <h1 id='util_Account'>新規アカウント登録</h1>
            <p th:if="${message}" th:text="${message}" style="color: red;"></p>
            <form action="/auth/signup" method="post">
                <label for="username">Nickname:</label>
                <input type="text" id="username" name="username" placeholder="ニックネームでいいです" required >
                
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" placeholder="4桁以上の英数字" required>
                
                <button type="submit">Charge!SignUp</button>
            </form>
            <a href="/auth/login">　　　登録がお済の方は ログイン画面へ</a><!-- Already have an account? Login here -->
        </section>
    </main>

    <div id="fasion">
        <div id="Page_introduction-1">--------</div>
        <div id="Page_introduction-2">P</div>
        <div id="Page_introduction-3">age</div>
        <div id="Page_introduction-4">I</div>
        <div id="Page_introduction-5">ntroductio</div>
        <div id="Page_introduction-6">n</div>
        <div id="Page_introduction-7">--------</div>
    </div>
        <div id="kiji" style="color: red;">各ページ(コンテンツ)の紹介</div>

        <div class="home-layout1">
        <img src="https://dodgersshoheiapp-assets.s3.us-east-1.amazonaws.com/img/SOZAI/yamamoto_ay2-removebg-preview.png" alt="背景画像1" class="home-image1-1" style="margin-right: 1.7em">
        <div class="home-content1">
            <h1 id="oomidashi" class="shiny-text">Home</h1>
            <div>このサイトのHOME（TOP）です</div>
            <div>NEWSトピックに最近の動向表示</div>
            <div>公式データを用いてチーム&個人成績表示</div>
            <div>厳選のYoutube動画表示</div>
            <!-- <h4>Top画面、Home画面の説明</h4> -->
        </div>
        <!-- <img src="/images/trimmin'-ohtani_pitchin'.png" alt="背景画像1" class="home-image1"> -->
    </div>


<div class="home-layout5" style="margin-bottom: 4%">
    <div class="home-content5">
        <h1 id="oomidashi">2025予想</h1>
        <div>皆様に各項目を</div>
        <div>選択し1票入れてもらい</div>
        <div>今期成績を集計/解析</div>
        <h4 style="margin-top: -2%">誰でも投票できますょ</h4>
    </div>
    <!-- <a href="/yosou" class="a5">　-->
        <img src="https://dodgersshoheiapp-assets.s3.us-east-1.amazonaws.com/img/SOZAI/%E4%BA%88%E6%83%B3%E7%94%BB%E9%9D%A2.jpg" alt="背景画像1" class="home-image5">
    </a>
</div>


    <div class="home-layout2">
        <div class="home-content2">
            <h1 id="oomidashi" class="shiny-text">Proud</h1>
            <div>応援スタイル</div>
            <div>自慢の応援グッズ..etc..</div>
            <h4 style="margin-top: -2%">画像投稿して自慢(PROUD)してください</h4>
        </div>
        <img src="https://dodgersshoheiapp-assets.s3.us-east-1.amazonaws.com/img/SOZAI/trimmin'-ohtani_creats.png" alt="背景画像1" class="home-image2">
    </div>

    <div class="home-layout3">
        <img src="https://dodgersshoheiapp-assets.s3.us-east-1.amazonaws.com/img/SOZAI/trimmin'-ohtani_swinggin'.png" alt="背景画像1" class="home-image3">
        <div class="home-content3">
            <h1 id="oomidashi" class="shiny-text">Chat</h1>
            <div>好きな選手,今日の翔平君</div>
            <div>対戦相手,応援メッセージ..etc..</div>
            <div>リアルタイムでひとこと言い合える</div>
            <h4>いずれは応援コメントがたまったら正式にDodgers翔平君に送ります</h4>
        </div>
    </div>

    <div class="home-layout4" style="margin-bottom: -30%">
        <div class="home-content4">
            <h1 id="oomidashi" class="shiny-text">Link</h1>
            <div>管理人がよく見ている</div>
            <div>ドジャース関連サイトURL</div>
            <div>インスタ,ファンクラブ,mlb.com, ..etc..</div>
            <h4 style="margin-top: -2%">URLリンクまとめ</h4>
        </div>
        <img src="https://dodgersshoheiapp-assets.s3.us-east-1.amazonaws.com/img/SOZAI/DodgersLogo.png" alt="背景画像1" class="home-image4">
    </div>

    <th:block th:replace="fragments/footer :: footer"></th:block>
</body>
</html>
