<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
  <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>2026 World Baseball Classic</title>
  <link rel="stylesheet" th:href="@{/css/WorldBaseballClassic.css}">


    <style>
    .wbc-logo {
      width: 325px;
      height: auto;
      display: block;
      margin: 0 auto;
    }
  </style>

</head>
<body>
  <div class="wbc-container">
  <img src="https://upload.wikimedia.org/wikipedia/commons/2/2e/WBC_logo.svg"
     alt="World Baseball Classic Logo"
     class="wbc-logo">

    <h1>　2026</h1>
    <a href="/home" class="postseason-btn">HOME画面に戻る</a>


<!-- 🎞️ ワールドチャンピオン優勝セレモニー プレイ動画 -->
<section class="video-preview-section">
  <div class="video-preview-wrapper">
    <video id="postseasonVideo" class="decorative-video" autoplay muted loop playsinline>
      <source src="/videos/world_champion_ceremony.mp4" type="video/mp4">
      お使いのブラウザは video タグをサポートしていません。
    </video>
    <!-- 🔇／🔊 ミュートボタン -->
    <button id="muteToggle" class="mute-btn">🔇</button>
  </div>
</section>

<!-- ✅ Postseason コメント＋集合写真 -->
<section class="postseason-commentary">
  <div class="postseason-text">
    <p>
    2026年の大会では、<br>前回に引き続き20の国と地域が参加。<br>
    2023年大会の1次ラウンドで4位以内に入った16チームは招待参加となり、2026年の大会に自動的に出場する。<br>
    ここに、2025年に開催される予選を勝ち抜いた4チームが加わる。<br>
    1次ラウンドは、5チームごと・4つのグループに分かれて総当たり戦で行われ、各グループのそれぞれ上位2チームがアメリカ・ヒューストンとマイアミで行われる準々決勝ラウンドに進出。準々決勝ラウンドを勝ち上がった4チームが決勝ラウンドへ進出する。<br>
<span style="color:blue; font-weight:900;">【1次ラウンド】</span><br>
<strong ><span style="color:red;">　Pool A（サンフアンプール）</span><br></strong>
　　2026年3月6日（金）～11日（水）	ヒラム・ビソーン・スタジアム（プエルトリコ）<br>
　　出場国：プエルトリコ、キューバ、カナダ、パナマ、コロンビア<br>
<strong><span style="color:red;">　Pool B（ヒューストンプール）</span><br></strong>
　　2026年3月6日（金）～11日（水）	ダイキン・パーク（アメリカ・ヒューストン）<br>
　　出場国：アメリカ、メキシコ、イタリア、イギリス、ブラジル<br>
<strong><span style="color:red;">　Pool C（東京プール）</span><br></strong>
　　2026年3月5日(木) ～ 10日(火)	東京ドーム（日本）<br>
　　出場国：日本、オーストラリア、韓国、チェコ、チャイニーズ・タイペイ<br>
<strong><span style="color:red;">　Pool D（マイアミプール）</span><br></strong>
　　2026年3月6日（金）～11日（水）	ローンデポ・パーク（アメリカ・マイアミ）<br>
　　出場国：ベネズエラ、ドミニカ共和国、オランダ、イスラエル、ニカラグア<br>
<span style="color:blue; font-weight:1000;">【準々決勝ラウンド】</span><br>
<strong>2026年3月13日(金)、14日(土)<br></strong>
　　ダイキン・パーク（アメリカ・ヒューストン）<br>
　　ローンデポ・パーク（アメリカ・マイアミ）<br>
<span style="color:blue; font-weight:1000;">【準決勝】</span><br>
<strong>2026年3月15日(日)、16日(月)<br></strong>
　　ローンデポ・パーク（アメリカ・マイアミ）<br>
<span style="color:blue; font-weight:1000;">【決勝】</span><br>
<strong>2026年3月17日(火)<br></strong>
　　ローンデポ・パーク（アメリカ・マイアミ）<br>

    </p>
  </div>

<div class="postseason-image">
  <img src="/images/PostSeason-Stats_IMG/2025集合写真.JPEG" alt="2025集合写真" class="PostSeason01 fade-image active">
  <img src="/images/PostSeason-Stats_IMG/翔平由伸朗希.JPEG" alt="翔平由伸朗希" class="PostSeason01 fade-image">
  <img src="/images/PostSeason-Stats_IMG/2025-Blue-Champion.JPEG" alt="2025-Blue-Champion" class="PostSeason01 fade-image">
  <img src="/images/PostSeason-Stats_IMG/24-25連覇集合写真(円).JPEG" alt="24-25連覇集合写真" class="PostSeason01 fade-image">
</div>



</section>

  <div class="postseason-container">
    <!-- トーナメント線の背景 -->
    <div class="bracket-background"></div>
 </div>

  <!-- 🎬 WS Series 動画セクション（タブ式） -->
  <section id="ws-video-section">
    <h2 class="shiny-text-1">WBC 2026</h2>

    <!-- ✅ タブボタン -->
    <div class="tabs">
      <button class="tab-button active" data-tab="game1">第1戦</button>
      <button class="tab-button" data-tab="game2">第2戦</button>
      <button class="tab-button" data-tab="game3">第3戦</button>
      <button class="tab-button" data-tab="game4">第4戦</button>
      <button class="tab-button" data-tab="game5">第5戦</button>
      <button class="tab-button" data-tab="game6">第6戦</button>
      <button class="tab-button" data-tab="game7">第7戦</button>

      <button class="tab-button" data-tab="nlcs">NLCS</button>
    </div>




<!-- ✅ 第1戦 -->
<div id="game1" class="tab-content active">
<div id="hoge-hoge_landing7" class="shiny-text-1"></div>
  <h3>2025/10/25　第1戦 LAD対TOR</h3>
  <h5>大谷がWS初HRも11得点ブルージェイズが先勝！</h5>

  <div class="video-item">
    <iframe
      width="560" height="315"
      src="https://www.youtube.com/embed/hcH1AkfoZcU"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen>
    </iframe>
    <p>LAD軍 vs TOR軍 Highlight</p>
  </div>

  <div class="video-item">
    <iframe
      width="560" height="315"
      src="https://www.youtube.com/embed/FdNFRAW_Wiw"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen>
    </iframe>
    <p>大谷翔平 WS初HR！PS6号2ラン</p>
  </div>

  <div class="video-item">
    <iframe
      width="560" height="315"
      src="https://www.youtube.com/embed/EqxD3gTBfVY"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen>
    </iframe>
    <p>大谷翔平 初HRマルチアングル</p>
  </div>
</div>

<!-- ✅ 第2戦 -->
<div id="game2" class="tab-content">
<div id="hoge-hoge_landing8" class="shiny-text-1"></div>
  <h3>2025/10/26　第2戦 LAD対TOR</h3>
  <h5>“異次元”山本由伸が2戦連続の完投勝利を飾る！</h5>

  <div class="video-item">
    <iframe
      width="560" height="315"
      src="https://www.youtube.com/embed/KRc-m8yA7_g"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen>
    </iframe>
    <p>LAD軍 vs TOR軍 Highlight</p>
  </div>

  <div class="video-item">
    <iframe
      width="560" height="315"
      src="https://www.youtube.com/embed/weN78PkBGbw"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen>
    </iframe>
    <p>日本の至宝がまたも歴史的快挙</p>
  </div>
</div>

<!-- ✅ 第3戦 -->
<div id="game3" class="tab-content">
<div id="hoge-hoge_landing9" class="shiny-text-1"></div>
  <h3>2025/10/28　第3戦 LAD対TOR</h3>
  <h5>球史に残る“延長18回”フリーマンがサヨナラHR!</h5>

  <div class="video-item">
    <iframe
      width="560" height="315"
      src="https://www.youtube.com/embed/JO1yAHsW-YQ"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen>
    </iframe>
    <p>TOR軍 vs LAD軍 Highlight</p>
  </div>

  <div class="video-item">
    <iframe
      width="560" height="315"
      src="https://www.youtube.com/embed/y-Y0C0Sn9U8"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen>
    </iframe>
    <p>大谷2HR4安打4敬遠1試合9出塁</p>
  </div>
</div>

<!-- ✅ 第4戦 -->
<div id="game4" class="tab-content">
<div id="hoge-hoge_landing10" class="shiny-text-1"></div>
  <h3>2025/10/29　第4戦 LAD対TOR</h3>
  <h5>ゲレーロJr.逆転2ランなど6得点で2勝2敗に!</h5>

  <div class="video-item">
    <iframe
      width="560" height="315"
      src="https://www.youtube.com/embed/BUkp9vtEd2Y"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen>
    </iframe>
    <p>TOR軍 vs LAD軍 Highlight</p>
  </div>

  <div class="video-item">
    <iframe
      width="560" height="315"
      src="https://www.youtube.com/embed/EiBLcRQ4VA4"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen>
    </iframe>
    <p>大谷 投球&全打席ダイジェスト</p>
  </div>
</div>

<!-- ✅ 第5戦 -->
<div id="game5" class="tab-content">
<div id="hoge-hoge_landing11" class="shiny-text-1"></div>
  <h3>2025/10/30　第5戦 LAD対TOR</h3>
  <h5>ブルージェイズ先王手！ ドジャース崖っぷち!!!</h5>

  <div class="video-item">
    <iframe
      width="560" height="315"
      src="https://www.youtube.com/embed/cvSAWXU6uZU"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen>
    </iframe>
    <p>TOR軍 vs LAD軍 Highlight</p>
  </div>
</div>

<!-- ✅ 第6戦 -->
<div id="game6" class="tab-content">
<div id="hoge-hoge_landing12" class="shiny-text-1"></div>
  <h3>2025/11/01　第6戦 LAD対TOR</h3>
  <h5>運命の第7戦へ！ エース山本“期待に応える”</h5>

  <div class="video-item">
    <iframe
      width="560" height="315"
      src="https://www.youtube.com/embed/PQR42dyyDYU?si=833o6ZXgcP_U9HBA"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen>
    </iframe>
    <p>LAD軍 vs TOR軍 Highlight</p>
  </div>

  <div class="video-item">
    <iframe
      width="560" height="315"
      src="https://www.youtube.com/embed/pfd2ztNnfMI?si=E8GXjukQAyfap1Qg"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen>
    </iframe>
    <p>佐々木朗希８回を踏ん張る！</p>
  </div>

  <div class="video-item">
    <iframe
      width="560" height="315"
      src="https://www.youtube.com/embed/2eHdYZAj5MI?si=8eCdWx_65AxtD8_o"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen>
    </iframe>
    <p>2BHで追加点のチャンスを演出</p>
  </div>
</div>

<!-- ✅ 第7戦 -->
<div id="game7" class="tab-content">
<div id="hoge-hoge_landing13" class="shiny-text-1"></div>
  <h3>2025/11/02　第7戦 LAD対TOR</h3>
  <h5>ドジャースWS連覇！MVP山本が胴上げ投手に</h5>

  <div class="video-item">
    <iframe
      width="560" height="315"
      src="https://www.youtube.com/embed/bVJXbYih6B8?si=XYauWUW0qWvSmujD"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen>
    </iframe>
    <p>LAD軍 vs TOR軍 Highlight</p>
  </div>

  <div class="video-item">
    <iframe
      width="560" height="315"
      src="https://www.youtube.com/embed/i0xuNC5iQcM?si=nEKgX6OsmmFnj0C_"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen>
    </iframe>
    <p>ロハスが値千金同点ソロHR！</p>
  </div>

  <div class="video-item">
    <iframe
      width="560" height="315"
      src="https://www.youtube.com/embed/WJk0XGCBXeU?si=97sDIXrogOpoAmFG"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen>
    </iframe>
    <p>スミス延長11回 勝越しソロHR</p>
  </div>

    <div class="video-item">
    <iframe
      width="560" height="315"
      src="https://www.youtube.com/embed/oLCzlH_OxJo?si=E1XtV7F8MTZHExjv"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen>
    </iframe>
    <p>“中0日”胴上げ投手！山本由伸</p>
  </div>

</div>

<!-- ✅ 2025 League Championship Series_section -->
<!-- ✅ NLCS タブコンテンツ -->
<div id="nlcs" class="tab-content">
<div id="hoge-hoge_landing6" class="shiny-text-1"></div>
  <h3>NLCS Series 2025/10/18</h3>
  <h5>リーグ優勝をかけた最終戦 伝説の１日</h5>
  <h5>投げては7回途中10K、打ってはホームラン3本!</h5>
  <h5>NLCS大谷伝説の日</h5>

  <div class="video-item">
    <iframe
      width="560" height="315"
      src="https://www.youtube.com/embed/0e7zKPfouj4"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen>
    </iframe>
    <p>MLW軍 vs LAD軍 Highlight</p>
  </div>
</div>
<!--End 動画セクション 2025 League Championship Series_section-->

</section>

    <!-- ✅ Postseason 成績セクション -->
  <hr>
  <section id="postseason-stats-section">
    <h2 class="shiny-text-1">⚾ 2026 WBC 成績</h2>

    <!-- Batting -->
    <h3 class="stat-title">Batting</h3>
    <div id="batting-stats" class="stats-container"></div>

    <!-- Pitching -->
    <h3 class="stat-title">Pitching</h3>
    <div id="pitching-stats" class="stats-container"></div>
  </section>


  <!-- ✅ JS -->
  <script src="/js/WorldBaseballClassic.js"></script>
<!--      <footer th:replace="fragments/footer :: footer"></footer>-->

</body>
</html>

</body>
</html>
