<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
  <meta charset="UTF-8">
  <title>2026 World Baseball Classic</title>
  <link rel="stylesheet" th:href="@{/css/WorldBaseballClassic.css}">
</head>
<body>
  <div class="wbc-container">
    <h1>🌎 2026 World Baseball Classic</h1>
    <p>ここにWBC 2026の最新情報を掲載予定です。</p>

    <div class="video-section">
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/"
        title="WBC 2026"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen>
      </iframe>
    </div>
  </div>
</body>
</html>
